.genre {
  border-bottom: 2px solid #3e78e4;
}
.genre-link {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.genre-title {
  font-size: 25px;
  border-bottom: 2px solid #3e78e4;
  margin-top: 5px;
}
